#grid {
  display: grid;
  /* grid-auto-rows: 10px; */
}

@media (max-width: 535px) {
  #grid {
    /* grid-auto-columns: 30px; */
    grid-auto-rows: 15px;
  }
}

@media (min-width:536px) and (max-width: 600px) {
  #grid {
    grid-auto-rows: 25px;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  #grid {
    grid-auto-rows: 40px;
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  #grid {
    grid-auto-rows: 50px;
  }
}

@media only screen and (min-width: 1060px) {
  #grid {
    grid-template-columns: 10;
    grid-auto-rows: 90px;
  }
}
