canvas {
  display: block;
  
}

.imageContainer {
  overflow: hidden;
  max-width: 100%;
  transition: all ease 0.5s;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* #imageContainer:hover {
    filter: saturate(100%);
  }
   */
.imageContainer > * {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

/* #heroText {
  display: table;
  width: -moz-fit-content;
  width: fit-content !important;
  height: fit-content !important;
  top: 35vh;
} */
