* {
  box-sizing:border-box
}

html {
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  margin: 0 !important;
    background-color: #0A0A0A ; 
        /* background-color: #da1b1b !important;  */
       
    width: 100%;
}
.screen-padding{
    padding-left: calc(8px + 1.5625vw);
    padding-right: calc(8px + 1.5625vw);
  }
  .screen-height{
    min-height: calc(100dvh - 88px);
  }


/* video[poster]{
  object-fit:initial;
}  */

/* .about3d{
  width: 200px !important; 
  height: 200px !important;
} */