* {
  box-sizing:border-box
}

html {
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  margin: 0 !important;
    background-color: #241c18 ; 
        /* background-color: #da1b1b !important;  */
       
    width: 100%;
}
.screen-padding{
    padding-left: calc(8px + 1.5625vw);
    padding-right: calc(8px + 1.5625vw);
  }
  .screen-height{
    min-height: calc(100dvh - 88px);
  }


video[poster]{
  object-fit:initial;
} 