#gimmickText {
  left: 5%;
  top: 40%;
  font-size: 1.875rem;
  line-height: 2.25rem;
  transition: transform 0.5s ease-linear;
}

@media (max-width: 1079px) {
  #gimmickText {
    top: 40%;
    left: 15%;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1080px) and (max-width: 1279px) {
  #gimmickText {
    top: 40%;
    left: 10%;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1280px) {
  #gimmickText {
    font-size: 3.75rem /* 60px */;
    line-height: 1;
  }
}

@media (min-width: 700px) and (max-width: 804px) {
  #gimmickText {
    left: 22%;
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

@media (min-width: 805px) and (max-width: 860px) {
  #gimmickText {
    left: 20%;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 861px) and (max-width: 968px) {
  #gimmickText {
    left: 17%;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

#gimmickLogo {
  height: 400px;
}

@media (min-width: 770px) and (max-width: 968px) {
  #gimmickLogo {
    height: 450px;
  }
}
@media (min-width: 969px) and (max-width: 1189px) {
  #gimmickLogo {
    height: 500px;
  }
}

@media (min-width: 1190px) {
  #gimmickLogo {
    height: 600px;
  }
}

@media (min-width: 770px) {
  #gimmickLogo {
    margin-top: 2.5rem /* 40px */;
  }
}
